body * {
	box-sizing: border-box;
  
}

html {
  background: url("https://shepherdexpress.com/downloads/40941/download/AEGateway_1983ArcadeBar_E_ByKelseyLawson.jpg?cb=9880b2ac80be2b90a892fac5ce4db54a&w=640") no-repeat center;
  background-size: cover;
}
.container{
  height: 100%;
}

#start-page{
  height: 100%;
  
}
#start-page > h1{
  color: white;
}
#start-page > h2{
  color: white;
  text-align: center;
}

#start-page > button{

  display: block;
  background-color: aqua;
}

.Q-page button{
  background-color: green;
}



.feedback button{
  background-color: yellow;
  margin: auto auto auto;
}

.feedback .failure{
  color: red;
}

.feedback .success{
  color: green;
  background-color: rgba(0, 110, 255, 0.24)
}

.feedback h2{
  margin: auto auto auto;
}

section{
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

button{
  height: 60px;
  width: 120px;
  
  margin: 60px auto auto;
  font-size: 24px;
  
  
}

.Q-page > form{
  height: 70%;
  display: flex;
  flex-direction: column;
  
}

.Q-page fieldset{
  width: 600px;
  margin: auto auto auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.Q-page label{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 9%;
}



.Q-page h2{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

span{
  color: black;
  font-size: 22px;
}
.answer {
  display: block;
}

.currentStatus span{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}
.currentStatus{
  display: flex;
  justify-content: space-between;
}
.final-page{
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  
}

.final-page h2{
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
}

.final-page .final-scores{
  font-size: 60px;
  color: red;
  
}

html, body {
  height: 100%;
}

h1{
  display: block;
  text-align: center;
  height: 20%;
}

@media only screen and (max-width: 600px){
  span{
    font-size: 18px;
  }

  h2{
    font-size: 24px;
  }

  button{
    font-size: 18px;
  }

  .Q-page fieldset{
    width: 100%;
  }
}